<ion-header>
  <ion-navbar color="dark">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br />
  <br />

    <ion-row>
      <ion-col>
        <ion-list inset>
      <div class="ion-text-center">
        <h1>URentDriver</h1>       
      </div>
    </ion-list>
  </ion-col>
</ion-row>

  <form [formGroup]="formTable" (ngSubmit)="formSubmit()">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input formControlName="email" type="email" placeholder="E-mail"></ion-input>
          </ion-item>
          <ion-label color="danger"
            *ngIf="formTable.get('email').invalid && (formTable.get('email').dirty && formTable.get('email').errors)">
            E-mail inválido</ion-label>

          <ion-item>
            <ion-input formControlName="senha" type="password" placeholder="Senha"></ion-input>
          </ion-item>
          <ion-label color="danger"
            *ngIf="formTable.get('senha').invalid && (formTable.get('senha').dirty && formTable.get('senha').errors)">
            Senha deve conter 6 caracteres</ion-label>

          <br />
          <br />

          <button ion-button type="submit" block color="dark">Entrar</button>
        </ion-list>
      </ion-col>
    </ion-row>


  </form>


</ion-content>